
<p>Here are all of your recipes</p>

<ul class="list-group">
  <% @recipes.each() do |recipe| %>
    <li class="list-group-item"><a href="recipes/<%= recipe.id %>"><%= recipe.name() %></a></li>
  <% end %>
</ul>


<form action="/recipes" method="post">
  <div class="form-group">
    <label for="name">Create a new recipe</label>
    <input id="name" name="name" type="text" class="form-control" placeholder="Enter Recipe Name">
  </div>
  <button class="btn btn-default" type="submit">Add Recipe</button>
</form>

<hr>

<p>Here are all of your categories</p>

<ul class="list-group">
  <% @categories.each() do |category| %>
    <li class="list-group-item"><a href="categories/<%= category.id %>"><%= category.name() %></a></li>
  <% end %>
</ul>


<form action="/categories" method="post">
  <div class="form-group">
    <label for="name">Create a new category</label>
    <input id="name" name="name" class="form-control" type="text" placeholder="Enter New Category Name">
  </div>
  <button class="btn btn-default" type="submit">Add Category</button>
</form>
