
<p>Here are all of your recipes</p>

<ul>
  <% @recipes.each() do |recipe| %>
    <li><a href="recipes/<%= recipe.id %>"><%= recipe.name() %></a></li>
  <% end %>
</ul>

<p>Create a new recipe</p>

<form action="/recipes" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">

  <button class="btn btn-default" type="submit">Add Recipe</button>
</form>

<hr>

<p>Here are all of your categories</p>

<ul>
  <% @categories.each() do |category| %>
    <li><a href="categories/<%= category.id %>"><%= category.name() %></a></li>
  <% end %>
</ul>

<p>Create a new category</p>

<form action="/categories" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">

  <button class="btn btn-default" type="submit">Add Category</button>
</form>
